/Properties/launchSettings.json

!.gitignore
!.bowerrc
!.typingsrc

*npm-debug.log*

/node_modules

wwwroot/node_modules/*
wwwroot/bower_components/*
wwwroot/typings/
wwwroot/dist
wwwroot/dist/js/*
wwwroot/src/ts/**/*.js
wwwroot/src/ts/**/*.js.map
wwwroot/src/ts/*.js
wwwroot/src/ts/*.js.map

.vs/*
.vscode/*
.tscache/*
*.vsext
bin/
obj/
*.xproj.user
*.csproj.user
secrets.json